/* Header */

header {
  top: 0;
  min-height: 20px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 40vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 10px;
    width: 75%;
    position: relative;
  }
}

#header-img {
  max-width: 50%;
  height: auto;
  margin: 0 auto;
}
